/ Main Content
%article
  .row
    .large-12.columns
      #bookshelf.bookshelf
        %figure
          .book{"data-book" => "book-2"}
          .buttons
            %a{href: "#"} Abrir
            %a{href: "#"} Detalles
          %figcaption
            %h2
              Afinando un sueño
              %span Oskar Díaz Toscano
          .details
            %ul
              %li Understanding the life of a worm can be enlightening to anybody. Dive into the micro cosmos of a creeping and burrowing invertebrate and learn how a limbless little creature reaches happiness.
              %li Graham Press
              %li 12.09.2010
              %li 397 pages
    / /main
  / /container
  / Fullscreen BookBlock
  / for demo purpose we repeat each bookblock
  #book-2.bb-custom-wrapper
    .bb-bookblock
      .bb-item
        .bb-custom-side.page-layout-3
          %div
            %h3 Portraits
            %p Photography (1999 – 2013)
        .bb-custom-side.page-layout-3
      .bb-item
        .bb-custom-side.page-layout-1
          %h3
            Chapter 9
            %span Nomadic Lifestyle
        .bb-custom-side.page-layout-1
          %p Candy canes lollipop macaroon marshmallow gummi bears tiramisu. Dessert croissant cupcake candy canes. Bear claw faworki faworki lemon drops. Faworki marzipan sugar plum jelly-o marzipan cookie.
      .bb-item
        .bb-custom-side.page-layout-2
          %div
            %h3 Aa
            %p Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.
          %div
            %h3 Bb
            %p Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.
        .bb-custom-side.page-layout-2
          %div
            %h3 Cc
            %p Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.
          %div
            %h3 Dd
            %p Faworki marzipan sugar plum jelly-o marzipan. Soufflé tootsie roll jelly beans. Sweet icing croissant dessert bear claw. Brownie dessert cheesecake danish jelly pudding bear claw soufflé.
    / /bb-bookblock
    %nav
      %a.bb-nav-prev{href: "#"} Previous
      %a.bb-nav-next{href: "#"} Next
      %a.bb-nav-close{href: "#"} Close
  / /bb-custom-wrapper







/ End Main Content