/ Main Content
.row
  .large-12.columns
    %h4#reacciones.animated.bounceInRight{:style => "text-align:right"}
      %a{href: "/reviews"} Reseñas
    #scroll-wrap.container
      .main
        #bookshelf.bookshelf
          %figure.animated.rotateInDownLeft
            .book{"data-book" => "book-2"}
            .buttons
              %a{href: "#"} Echa un ojo
              %a{href: "#"} Detalles
            %figcaption
              %h2
                Afinando un sueño
                .edition-note Reedición revisada y ampliada
                %span#tosca Oskar Díaz Toscano
            .next
              %p.amazon-label Disponible en
              .amazon-links
                %a.amazon-btn.es.disabled{href: "#"}
                  .btn-text
                    %span Amazon España
                    %small (en preparación)
                  .btn-icon
                    = image_tag "book.png", alt: ""
                %a.amazon-btn.jp{href: "https://www.amazon.co.jp/dp/B0GLNN3B2B", target: "_blank", rel: "noopener"}
                  .btn-text
                    %span Amazon Japan
                  .btn-icon
                    = image_tag "book.png", alt: ""
              %button#pedir.animated.review-btn{type: "button", :data=>{"reveal-id" => "pedirLibro"}}
                .svg-wrapper-1
                  .svg-wrapper
                    %svg{xmlns: "http://www.w3.org/2000/svg", viewBox: "0 0 24 24", width: "24", height: "24"}
                      %path{fill: "none", d: "M0 0h24v24H0z"}
                      %path{fill: "currentColor", d: "M1.946 9.315c-.522-.174-.527-.455.01-.634l19.087-6.362c.529-.176.832.12.684.638l-5.454 19.086c-.15.529-.455.547-.679.045L12 14l6-8-8 6-8.054-2.685z"}
                %span Enviar reseña
            .details
              %ul
                %li Autoeditado
                %li dic 2013 / ene 2026
                %li 447 páginas
                %li.small-details
                  %span.details-story Con mujer, hijos e hipoteca en Tokio, Oskar Díaz nos cuenta a través de pequeñas historias como logró encarrilar su sueño de vivir en Japón hace ya 19 años.
                  %br
                  %br
                  Encontrarás desde amores de prestado, desengaños y borracheras a patadas de karate y ceremonias de té al abrigo de un Tokio por descubrir.
                  %br
                  %br
                  Hay capítulos especiales dedicados a cómo el autor vivió el gran terremoto de Tohoku y el tsunami que asoló Fukushima.
                  %br
                  %br
                  Disponible en papel y en formato electrónico.

      / /main
    / /container
    / Fullscreen BookBlock
    / for demo purpose we repeat each bookblock
    #book-2.bb-custom-wrapper
      .bb-bookblock
        .bb-item
          .bb-custom-side.page-layout-4.p1.left{data: { image: asset_path("page1.png") }}
          .bb-custom-side.page-layout-4.p2.right{data: { image: asset_path("page2.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p3.left{data: { image: asset_path("page3.png") }}
          .bb-custom-side.page-layout-4.p4.right{data: { image: asset_path("page4.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p5.left{data: { image: asset_path("page5.png") }}
          .bb-custom-side.page-layout-4.p6.right{data: { image: asset_path("page6.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p7.left{data: { image: asset_path("page7.png") }}
          .bb-custom-side.page-layout-4.p8.right{data: { image: asset_path("page8.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p9.left{data: { image: asset_path("page9.png") }}
          .bb-custom-side.page-layout-4.p10.right{data: { image: asset_path("page10.png") }}
        .bb-item
          .bb-custom-side.page-layout-4.p11.left{data: { image: asset_path("page11.png") }}
          .bb-custom-side.page-layout-4.p12.right{data: { image: asset_path("page12.png") }}

      / /bb-bookblock
      %nav
        %a.bb-nav-prev{href: "#"} Previous
        %a.bb-nav-next{href: "#"} Next
        %a.bb-nav-close{href: "#"} Close
    / /bb-custom-wrapper
/ End Main Content
