/ Main Content
.row
  .large-12.columns
    %h4#reacciones.animated.bounceInRight{:style => "text-align:right"}
      %a{href: "/reviews"} Reacciones
    #scroll-wrap.container
      .main
        #bookshelf.bookshelf
          %figure.animated.rotateInDownLeft
            .book{"data-book" => "book-2"}
            .buttons
              %a{href: "#"} Abrir
              %a{href: "#"} Detalles
              .next
                %a#pedir.animated{href: "#", :data=>{"reveal-id" => "pedirLibro"}} Pedir libro
            %figcaption
              %h2
                Afinando un sueño
                %span#tosca Oskar Díaz Toscano
            .details
              %ul
                %li Autoeditado
                %li Diciembre de 2013
                %li 244 páginas
                %li Con mujer, hijo e hipoteca en Tokio, Oskar Díaz nos cuenta a través de pequeñas historias como logró encarrilar su sueño de vivir en Japón hace ya 8 años.

      / /main
    / /container
    / Fullscreen BookBlock
    / for demo purpose we repeat each bookblock
    #book-2.bb-custom-wrapper
      .bb-bookblock
        .bb-item
          .bb-custom-side.page-layout-4.p1.left
          .bb-custom-side.page-layout-4.p2.right
        .bb-item
          .bb-custom-side.page-layout-4.p3.left
          .bb-custom-side.page-layout-4.p4.right
        .bb-item
          .bb-custom-side.page-layout-4.p5.left
          .bb-custom-side.page-layout-4.p6.right
        .bb-item
          .bb-custom-side.page-layout-4.p7.left
          .bb-custom-side.page-layout-4.p8.right
        .bb-item
          .bb-custom-side.page-layout-4.p9.left
          .bb-custom-side.page-layout-4.p10.right
        .bb-item
          .bb-custom-side.page-layout-4.p11.left
          .bb-custom-side.page-layout-4.p12.right

      / /bb-bookblock
      %nav
        %a.bb-nav-prev{href: "#"} Previous
        %a.bb-nav-next{href: "#"} Next
        %a.bb-nav-close{href: "#"} Close
    / /bb-custom-wrapper
/ End Main Content