#reviews
  h2
    text-align: center
    border: 1px solid black
    padding: 15px
    top: -50px
    background-color: black
    color: white
    margin-bottom: 20px
    font-family: Courier
  .review
    margin-bottom: 10px
    padding: 10px
    img
      max-width: 450px
      max-height: 450px
      padding: 20px
      margin-left: 15px
    p.name
      color: black
      font-size: 25px
    .text p
      font-family: 'Neucha', cursive
      font-size: 18px
      line-height: auto
      margin-bottom: 15px
      padding-left: 10px
    &.a
      background-color: #f2f9f9
      border-right: 2px solid gray
      border-bottom: 2px solid gray
    &.b
      background-color: #f9f9f9
      border-left: 2px solid gray
      border-top: 2px solid gray
      p.name
        text-align: right
  .review:hover .text p
    font-size: 20px