#enlaces
  %h3
    Reseñas:
  %a{href: "http://paelladekimchi.com/afinando-un-sue%C3%B1o-el-ikulibro"}
    Paella de Kimchi: Afinando un sueño, el ikulibro
  %br
  %a{href: "http://www.tiochiqui.com/2014/03/todo-el-mundo-comprar-el-ikulibro.html"}
    TioChiqui: Todo el mundo a por el ikulibro
  %br
  %a{href: "http://www.nerelorco.com/se-van-a/Tokio/el-ikulibro-ii/"}
    La Nere y el Lorco: http://www.nerelorco.com/se-van-a/Tokio/el-ikulibro-ii/
  %hr
#reviews
  %h2 Bandeja de entrada
  -@reviews.each_with_index do |review,idx|
    .review{:class => (idx % 2 ==0 ? "a" : "b")}
      %p.name=review.name
      %p.text= simple_format review.review
    - unless idx + 1 == @reviews.size
      %hr