#enlaces.bounceInDown.animated
  %h3
    Reseñas:
  %a{href: "http://paelladekimchi.com/afinando-un-sue%C3%B1o-el-ikulibro"}
    Paella de Kimchi: Afinando un sueño, el ikulibro
  %br
  %a{href: "http://www.tiochiqui.com/2014/03/todo-el-mundo-comprar-el-ikulibro.html"}
    TioChiqui: Todo el mundo a por el ikulibro
  %br
  %a{href: "http://www.nerelorco.com/se-van-a/Tokio/el-ikulibro-ii/"}
    La Nere y el Lorco: El ikulibro II
  %br
  %a{href: "http://www.donderis.net/2014/03/recibiendo-el-ikulibro/"}
    CaDs: Recibiendo el ikulibro
  %br
  %a{href: "    http://unajaponesaenjapon.com/32291/%E3%80%8Cafinando-un-sueno%E3%80%8D-el-libro-%E3%80%8Cyume-wo-migaku"}
    Nora: Yume wo migaku
  %hr
#reviews.bounceInUp.animated
  %h2 Bandeja de entrada
  -@reviews.each_with_index do |review,idx|
    .review{:class => (idx % 2 ==0 ? "a" : "b")}
      %p.name=review.name
      .text
        = simple_format review.review
      - if review.images
        - review.images.each do |img|
          = image_tag  img.url
      .n="#{idx+1}"
    - unless idx + 1 == @reviews.size

      %hr